asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1635845996591/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822681337/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1632235402030/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1639337350705/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dj-database-url==0.5.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1638897748254/work
django-heroku==0.3.1
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1623842138238/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1635854366296/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1640083135060/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1640064922437/work
PREFUR @ git+git://github.com/daviddesancho/PREFUR.git@f22b12b12cf70d81a457195718150e844b55a3e2
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1637654410541/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1626463713199/work
